.Navbar {
  border: $m-size hidden;
  padding: $s-size;
  justify-content: center;
  background-color: $blue-bright;
  margin: 0 0 4rem 0;
}

.target {
  position: relative;
  left: 13%;
  color: $off-white;
}
